# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.DS_Store

# Logs
*.log
app.log

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/keys/*.pem

# Application
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Compiled
*.class
*.jar
!gradle/wrapper/*.jar

# Temporary
*.tmp
*.swp
*~
Untitled-*
